/* THIS IS THE TAG SELECTOR METHOD */
body {
  background-color: powderblue
}
  hr {
    width: 10%;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
  }
  h1 {
    color: green;
  }
  h3 {
    color: green;
  }
  /* HEADING IS THE ID TYPE OF SELECTOR */
  #heading {
    color: green;
  }
  img:hover{
    background-color: yellow;
  }

  p {
    background-color: Red; font-size: 20px;
  }
  /* THIS IS THE CLASS TYPE OF SELECTOR
   WHEN THERE ARE MORE THAN 2 IMAGES AND WE WANT TO GIVE DIFFERENT
  STYLE TO BOTH USE THE BELOW METHOD
  .logo {
    background-color: yellow;
  }
  */
